@font-face {
    font-family: "QuickSand";
    src: url("../fonts/Quicksand/Quicksand-Regular.ttf");
}

@font-face {
    font-family: "QuickSand-Medium";
    src: url("../fonts/Quicksand/Quicksand-Medium.ttf");
}

@font-face {
    font-family: "QuickSand-Bold";
    src: url("../fonts/Quicksand/Quicksand-Bold.ttf");
}

@font-face {
    font-family: "Monsterrat-Bold";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Monsterrat-Medium";
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Monsterrat-SemiBold";
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: 'QuickSand';
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

body::-webkit-scrollbar {
    width: 0 !important;
    display: none;
}

.main{
    overflow: hidden;
}

/* HEADER START CSS */
.header {
    background-color: white;
}

.header .header-desk {
    box-shadow: 0px 0px 5px 0px gainsboro;
}

.header .header-desk .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .25rem;
}

.header p {
    padding: 0;
    margin: 0;
}

.header ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.header ul li {
    list-style: none;
    margin-right: 2.5rem;
}

.header a {
    font-family: "QuickSand-Medium";
    text-decoration: none;
    color: #3C3C3B;
    font-size: 1rem;
}

.header a.active {
    font-family: "QuickSand-Bold";
    color: #063375;
}

.header a:hover {
    color: #063375;
}

.header .header-menu.header-menu-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.booking-now {
    margin-left: 2.5rem;
    transition: .3s ease-in-out;
}

.booking-now:hover {
    transition: .3s ease-in-out;
    transform: scale(1.05);
}

.booking-now a {
    box-shadow: 1px 2px 6px 0 #0000004d;
    display: block;
    width: max-content;
    color: white;
    background-color: #F59508;
    padding: 0.75rem 1.5rem;
    border-radius: 3rem;
    font-family: "QuickSand-Medium";
    text-decoration: none;
    line-height: normal;
}

.header .header-mob {
    display: none;
}

@media (max-width: 769px) {
    .header .header-desk {
        display: none;
    }

    .header .header-mob {
        display: block;
    }

    .header .header-mob .menu-set {
        padding: .35rem 0;
        box-shadow: 0px 0px 5px 0px gainsboro;
        position: relative;
        z-index: 2;
    }

    .header .header-mob .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header .booking-now {
        margin-left: 0;
    }

    .header .booking-now a {
        padding: 0.45rem 1rem;
    }

    .header-mob .btn-mobile {
        position: relative;
        transition: 0.5s ease-in-out;
    }

    .header-mob .btn-mobile .item_menu {
        position: relative;
        background-color: black;
        width: 2.25rem;
        height: .35rem;
        margin: 5px 0px;
        border-radius: 15px;
        transition: 0.5s ease-in-out;
    }

    .header-mob .btn-mobile.active .item_menu.center {
        opacity: 0;
        transition: 0.5s ease-in-out;
    }

    .header-mob .btn-mobile.active .item_menu.top {
        transform: translate3d(0px, 10.5px, 0px) rotate(45deg);
        transition: 0.5s ease-in-out;
    }

    .header-mob .btn-mobile.active .item_menu.bottom {
        transform: translate3d(0px, -10.5px, 0px) rotate(-45deg);
        transition: 0.5s ease-in-out;
    }

    .header-mob ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 2rem;
    }

    .header-mob ul li {
        margin: .5rem 12px;
    }

    .header-mob .menu-move {
        position: fixed;
        top: 2rem;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: 0.7;
        height: 100vh;
        min-height: 100vh;
        transform: translateX(-100%);
        transition: 0.5s ease-in-out;
        background-color: white;
    }

    .header-mob .menu-move.active {
        transform: translateX(0);
        opacity: 1;
        transition: 0.5s ease-in-out;
    }

}

/* HEADER END CSS */


/* MAIN START CSS */

.main .banner-main {
    background-color: white;
}

.main .img-mob {
    display: none;
}

.flatpickr-day {
    font-size: 0.8rem !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
    font-size: 1rem !important;
    font-weight: 700 !important;
    color: #F59508 !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background: #F59508 !important;
    border-color: #F59508 !important;
}

.flatpickr-day.today {
    border-color: #F59508 !important;
}

.flatpickr-current-month input.cur-year {
    font-size: 1rem !important;
    font-weight: 700 !important;
    color: #F59508 !important;
}

span.flatpickr-weekday {
    font-weight: 700 !important;
    color: #F59508 !important;
}

.main .banner-main {
    position: relative;
}

.main .banner-main .content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.main .banner-main .content .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.banner-main .content .content-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 5.5rem auto;
}

.banner-main .content .content-top h1 {
    text-transform: uppercase;
    font-family: "Monsterrat-Bold";
    color: #3FC2BF;
}

.banner-main .content .select-datetime {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 4.5rem auto;
    background-color: white;
    border-radius: .2rem;
    box-shadow: 1px 2px 6px 0 #0000004d;
}

.banner-main .content .select-datetime .item-select {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .5rem 2rem;
}

.select-datetime .item-select svg {
    width: 2.3rem;
    height: 2.3rem;
    margin-right: .5rem;
}

.select-datetime .item-select p {
    margin: 0;
}

.select-datetime .item-select p label {
    font-size: 13px;
    color: #525252;
}

.select-datetime .item-select input {
    background-color: transparent;
    outline: none;
    border: none;
    color: black;
    font-size: 14px;
}

.select-datetime .item-select select {
    outline: none;
    border: none;
    font-size: 14px;
    background-color: transparent;
}

.search {
    box-shadow: 1px 2px 6px 0 #0000004d;
    display: block;
    width: max-content;
    color: white;
    background-color: #F59508;
    font-family: "QuickSand-Medium";
    text-decoration: none;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search button {
    margin: 0;
    font-family: "QuickSand-Bold";
    color: white;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    outline: none;
}

/* TAB ONE START */
.tab-one {
    padding: 5rem 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(223, 248, 255, 1) 24%, rgba(223, 248, 255, 1) 84%, rgba(255, 255, 255, 1) 100%);
}

.tab-one .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 5rem;
}

.title h1 {
    text-transform: uppercase;
    font-family: "Monsterrat-Bold";
    color: #063375;
    margin: 0;
}

.title .line {
    width: 8rem;
    height: .2rem;
    background-color: #F59508;
}

.tab-one .desc p {
    font-family: "QuickSand-Medium";
    margin: .3rem 0;
    padding: 0;
}

/* TAB TWO START */
.tab-two .container {
    margin: 3rem auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab-two .content-left .desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;
    margin: 3rem 0;
}

.tab-two .content-left .desc .item-desc b {
    font-size: 2.5rem;
}

.tab-two .content-left .desc .item-desc {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.tab-two .content-right {
    position: relative;
    padding: 0 1.5rem;
}

.tab-two .content-right .box-background {
    background-color: #063375;
    position: absolute;
    top: 0;
    left: 0;
    width: 7rem;
    height: 7rem;
    z-index: -1;
    border-radius: .2rem;
}

/* TAB THREE START */
.tab-three {
    position: relative;
    margin: 7rem auto;
    padding: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab-three .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

/* 
.tab-three .content-right{
    position: absolute;
    right: 0;
    top: 0;
}
 */

.tab-three .booking-now {
    margin: 2rem 0;
}

.tab-three .item-slider-home {
    background-color: white;
    border: 1px solid #0000004d;
    margin: 1rem 0;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 1px 2px 6px 0 #0000004d;
}

.tab-three .item-slider-home .thumbnail {
    border-radius: .5rem .5rem 0 0;
    overflow: hidden;
}

.tab-three .item-slider-home .desc {
    padding: .5rem;
}

.item-slider-home .desc .title {
    margin-bottom: .25rem;
}

.item-slider-home .desc .title a {
    font-family: "Monsterrat-Bold";
    text-decoration: none;
    color: black;
}

.item-slider-home .desc .address {
    color: #F59508;
    font-family: "Monsterrat-Medium";
    margin-bottom: .1rem;
    display: block;
  	display: -webkit-box;
  	line-height: 1.3;
  	-webkit-line-clamp: 1;  /* số dòng hiển thị */
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.tab-three .swiper {
    padding: 0 .5rem !important;
    padding-bottom: 1.5rem !important;
}

.tab-three .swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    margin-bottom: -.5rem;
}

.item-slider-home .desc .price {
    color: #2A90D9;
    font-family: "Monsterrat-Bold";
    margin-bottom: .5rem;
}

.item-slider-home .desc .detail-room {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-slider-home .desc .detail-room svg {
    width: 18px;
    height: 18px;
    margin-right: 2px;
}

.item-slider-home .desc .detail-room .item-detail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: .75rem;
}

.tab-three .swiper-pagination-bullet-active {
    background-color: #F59508 !important;
}

/* TAB FOUR START */
.tab-four .title {
    align-items: center;
    margin-bottom: 2rem;
}

.tab-four .title p {
    font-family: "Monsterrat-Medium";
}

.tab-four .title img {
    width: 70%;
    margin: auto;
    display: block;
    text-align: center;
}

.tab-four .content .content-left h2 {
    font-family: "Monsterrat-SemiBold";
    color: #545454;
}

.tab-four .booking-now {
    margin-left: 0;
    margin-top: 3rem;
}

.tab-four .content-left {
    padding-right: 2rem;
}

.tab-four .content-right {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tab-four .content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tab-four .content-right .item-content svg {
    width: 35px !important;
    height: 35px !important;
}

.tab-four .content-right .item-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 23%;
    min-height: 7.5rem;
    margin: 1%;
    padding: 1rem;
    background-color: white;
    border: 1px solid #0000004d;
    border-radius: .5rem;
    box-shadow: 1px 2px 6px 0 #0000004d;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.tab-four .content-right .item-content:hover {
    transition: .3s ease-in-out;
    transform: scale(1.03);
}

.tab-four .content-right .item-content p {
    color: #737373;
    text-align: center;
    font-family: "Monsterrat-Medium";
    margin: 0;
}

/* TAB FIVE START */
.tab-five {
    margin-top: 7rem;
    padding-bottom: 2rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 55%, rgba(255, 243, 231, 1) 100%);
}

.tab-five .title {
    align-items: center;
    margin-bottom: 3rem;
}

.tab-five .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab-five .content .item-content {
    width: 30%;
    text-align: center;
}

.tab-five .content .item-content .thumnail {
    border-radius: .6rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.tab-five .content .item-content p {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

/* BANNER FOOTER START */
.banner-footer {
    position: relative;
}

.banner-footer .content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-footer .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-footer .content h2{
    font-family: "Monsterrat-Bold";
    color: white;
    text-align: center;
}

.banner-footer .content .booking-now{
    margin: 2rem 0;
}

.footer{
    padding-top: 5rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 55%, rgba(255, 243, 231, 1) 100%);
}

.footer .item-footer .top{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.footer .item-footer .title{
    margin: 0;
}

.footer .item-footer .title h6{
    color: #3FC2BF;
    margin-left: .5rem;
    text-transform: uppercase;
    font-family: "Monsterrat-Bold";
}

.footer svg{
    width: 1rem !important;
    height: 1rem !important;
}

.footer p{
    margin: 0;
    margin-left: .2rem;
}

.footer .container{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .item-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: .2rem 0;
}

.footer .item-content .left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer .item-content .left p{
    font-family: "QuickSand-Medium";
}

.footer .item-footer .title h3{
    color: #063375;
    font-family: "Monsterrat-Bold";
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
}

.footer .content a{
    color: black;
    text-decoration: none;
    margin: .3rem 0;
    transition: 0.3s ease-in-out;
}

.footer .content a:hover{
    font-family: "QuickSand-Medium";
    color: #063375;
    transition: 0.3s ease-in-out;
}

.footer .coppy-r{
    text-align: center;
    color: #545454;
    margin: 2rem auto 1rem auto;
    font-size: .8rem;
}

.tab-five .swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    margin-bottom: -.5rem;
}

.tab-five .swiper-pagination-bullet-active {
    background-color: #F59508 !important;
}

.tab-five .swiper {
    padding: 0 .5rem !important;
    padding-bottom: 1.5rem !important;
}

@media (max-width: 769px) {
    .main .img-mob {
        display: block;
    }

    .main .img-desk {
        display: none;
    }

    .banner-main .content .content-top{
        align-items: center;
    }

    .select-datetime .item-select svg{
        width: 30px;
        height: 30px;
    }

    .select-datetime .item-select input{
        font-size: .9rem;
        line-height: .9rem;
    }

    .banner-main .content .select-datetime .item-select{
        padding: .1rem 2rem;
    }

    .select-datetime .item-select select{
        font-size: .9rem;
    }

    .search button{
        font-size: .9rem;
    }

    .tab-two .content-left .logo{
        margin: 0 auto;
    }

    .tab-two .content-left .desc{
        padding: 0;
    }

    .tab-two .content-left p{
        text-align: center;
    }

    .tab-two .content-left .desc .item-desc b{
        font-size: 2rem;
    }

    .tab-four .title h1{
        text-align: center;
    }

    .tab-four .content-right{
        margin-top: 2rem;
        justify-content: space-between;
    }

    .tab-four .content-right .item-content{
        width: 32%;
        margin: 1% 0;
    }

    .tab-four .content-left{
        padding: 0;
    }

    .tab-five .title{
        margin-top: 2rem;
    }

    .tab-five .title h1{
        text-align: center;
    }

    .tab-five .content{
        flex-wrap: wrap;
    }

    .tab-five .content .item-content{
        width: 100%;
    }

    .tab-three{
        margin: 5rem auto;
    }

    .title{
        margin-bottom: 3rem;
    }

    .tab-four .content-right .item-content p{
        font-size: .8rem;
    }
}

/* MAIN END CSS */